<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../../../stylesheets/normalize.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,700italic,700,300">
        <link rel="stylesheet" href="../../../stylesheets/lib.css">
        <link rel="stylesheet" href="../../../stylesheets/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device=width", initial-scale=1.8>
        <title> Finstagram </title>
    </head>
    <body>
        <header>
            <h1> Finstagram </h1>
        </header>
        <main role="main">
            <% @finstagram_posts.each do |finstagram_post| %>
                <article class="finstagram-post">
                    <div class="user-info">
                        <img src="<%= @finstagram_post_shark[:avatar_url] %>" alt="<%= @finstagram_post_shark [:username] %>">
                        <h2><%= @finstagram_post_shark[:username] %></h2>
                        <h3><%= @finstagram_post_shark[:humanized_time_ago] %></h3>
                    </div>
                    <a class="photo" href="#">
                        <img src="<%= @finstagram_post_shark[:photo_url] %>" alt= "finstagram post from <%= @finstagram_post_shark[:username] %>">
                    </a>

                    <div class="actions">

                        <%= @finstagram_post_shark[:like_count] %> likes

                        <span class="comment-count"><%= @finstagram_post_shark[:comment_count] %> comment</span>
                    </div>

                    <ul class= "comments">
                        <% finstagram_post[:comments].each do |comment| %>
                            <li>
                                <p>
                                    <%= comment[:username] %>: <%= comment[:text] %> 
                                </p> 
                            </li>
                        <% end %>
                    </ul>   
                </article>
             <% end %>

                <article class="finstagram-post">
                    <div class="user-info">
                        <img src="<%= @finstagram_post_whale[:avatar_url] %>" alt="<%= @finstagram_post_whale[:username] %>">
                        <h2><%= @finstagram_post_whale[:username] %></h2>
                        <h3><%= @finstagram_post_whale[:humanized_time_ago] %></h3>
                    </div>
                    <a class="photo" href="#">
                        <img src="<%= @finstagram_post_whale[:photo_url] %>" alt="finstagram post from <%= @finstagram_post_whale[:username] %>">
                    </a>
                    <div class="actions">
                        <%= @finstagram_post_whale[:like_count] %> likes
                        <span class="comment-count"><%= @finstagram_post_whale[:comment_count] %> comment</span>
                    </div>
                    <ul class="comments">
                        <li>
                            <p>
                                <%= @finstagram_post_whale[:comments][0][:username] %>: <%= @finstagram_post_whale[:comments][0][:text] %>
                            </p>
                        </li>
                    </ul>
                </article>
           
                <article class="finstagram-post">
                    <div class="user-info">
                        <img src="<%= @finstagram_post_marlin[:avatar_url] %>" alt="<%= @finstagram_post_marlin[:username] %>">
                        <h2><%= @finstagram_post_marlin[:username] %></h2>
                        <h3><%= @finstagram_post_marlin[:humanized_time_ago] %></h3>
                    </div>
                    <a class="photo" href="#">
                        <img src="<%= @finstagram_post_marlin[:photo_url] %>" alt="finstagram post from <%= @finstagram_post_marlin[:username] %>">
                    </a>
                    <div class="actions">
                        <%= @finstagram_post_marlin[:like_count] %> likes
                        <span class="comment-count"><%= @finstagram_post_marlin[:comment_count] %> comment</span>
                    </div>
                    <ul class="comments">
                        <li>
                            <p>
                            <%= @finstagram_post_marlin[:comments][0][:username] %>: <%= @finstagram_post_marlin[:comments][0][:text] %>
                            </p>
                        </li>
                    </ul>
                </article>
            
        </main>
   
    </body>
</html>